.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-header {
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
  color: white;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  padding: 0.5rem;
}
