main {
  flex: 1 0 auto;
}

/* .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.nav-wrapper p {
    font-size: 1.8rem;
}

.game {
  background: #8eaeBd;
  /* height: 80vh; */
}

.antimatter {
  background: #a7B3A5;
  color: #333;
  font-weight: bold;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  /* background: #6D7993; */
}
